/* TRAVEL FOOTER */
.travel-footer {
  margin-top: 80px;
  background: linear-gradient(135deg, #beb2eb, #96bce3);
  color: black;
  padding: 40px 0 20px;
  
  box-shadow: 0 -4px 18px rgba(0,0,0,0.15);
}

.footer-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 350px;
}

.footer-title {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 10px;
}

.footer-desc {
  font-size: 15px;
  line-height: 1.6;
  color: #f2f2f2;
}

.footer-contact h3,
.footer-social h3 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}

.footer-contact p {
  margin: 4px 0;
  font-size: 15px;
}

.footer-social a {
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.25s ease;
}

.footer-social a:hover {
  text-decoration: underline;
  transform: translateX(4px);
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  opacity: 0.9;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 12px;
}